.form_container_layout {
    
    

  .form_container_main {

    background-color: $bg-secondary-color;
    padding: 40px;

    h1{
        font-size: 2.8rem;
        font-weight: 300;
        text-align: center;
        margin-bottom: 40px;
        color: $main-color;
    }
    
    .form_container{


        .access_form{
            
            .form_layout{

                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 2.5em;

                .form_box{
                    label{
                        color: $main-color;
                        font-size: 1.2rem;
                        font-weight: 300;
                        padding: 5px;
                    }

                    input[type=text], input[type=password], input[type=tel], input[type=date],input[type=number], select{
                        width: 100%;
                        padding: 15px;
                        margin: 5px 0 22px 0;
                        display: inline-block;
                        border: none;
                        background: $bg-color;
                        font-size: 1.2rem;
                        font-weight: 300;
                        transition: all .3s ease;
                      }
                      
                      input[type=text]:focus, input[type=password]:focus, input[type=tel]:focus, input[type=date]:focus,input[type=number]:focus, select:focus{
                        
                        background-color: #737373;
                        outline: none;
                        color-scheme: dark;
                        transition: all .3s ease;
                    }

                    input:-webkit-autofill,
                    input:-webkit-autofill:hover, 
                    input:-webkit-autofill:focus, 
                    input:-webkit-autofill:active{
                        -webkit-box-shadow: 0 0 0 30px $bg-color inset !important;
                        -webkit-text-fill-color: $text-color !important;
                        background-color: #737373;
                        transition: all .3s ease;
                        
                    }
                    

                    ::-webkit-calendar-picker-indicator {
                        filter: invert(1);
                    }

                    /* Chrome, Safari, Edge, Opera */
                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    /* Firefox */
                    input[type=number] {
                        appearance: textfield;
                        -moz-appearance: textfield;
                    }

                    .password_container{
                        position: relative;

                        .fa-eye, .fa-eye-slash{
                            position: absolute;
                            right: 4%;
                            top: 28%;
                            
                            cursor: pointer;
                        }
                    }


                }
            }

            #submit_button_container{
                text-align: center;
                input[type=submit]{
                    width: 80%;
                    background-color: $main-color;
                    border: 2px solid $main-color;
                    opacity: 0.8;
                    font-size: 1.2rem;
                    font-weight: 300;
                    padding: 16px 20px;
                    margin: 8px 0;
                    cursor: pointer;
                    transition: all .5s ease;

                    &:hover{
                        opacity: 1;
                    }
                    
                }

            }
            

        }

        
    }
    
    .error_container_layout{
        margin: 0 auto;
        margin-block: 30px;
        padding: 10px;
        width: fit-content;
        background-color: $bg-color;
        border: 1px solid $main-color;
        text-align: center;
        h3{
            display: inline-block;
            text-align: center;
            font-weight: 600;
            margin-right: 15px;
            color: $main-color;

            &:last-child{
                margin-right: 0;
            }
        }
    }

    .signin {
        margin-top: 30px;
        text-align: center;
        a{  
            color: $main-color;
            text-decoration: underline;
        }
    }

  }
  margin-bottom: 30px;
}

@media screen and (max-width: 700px) {
    .form_layout{
        grid-template-columns: repeat(1, 1fr) !important;
    }
}