.adm_form_main_container {
  padding: 20px;

  .form_container {
    .access_form {
      .form_layout {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2.5em;

        .form_box {
          label {
            color: $main-color;
            font-size: 1.2rem;
            font-weight: 300;
            padding: 5px;
          }

          input[type="text"],
          input[type="password"],
          input[type="tel"],
          input[type="date"],
          input[type="number"],
          select {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: $bg-color;
            font-size: 1.2rem;
            font-weight: 300;
            transition: all 0.3s ease;
          }

          input[type="text"]:focus,
          input[type="password"]:focus,
          input[type="tel"]:focus,
          input[type="date"]:focus,
          input[type="number"]:focus,
          select:focus {
            background-color: #737373;
            outline: none;
            color-scheme: dark;
            transition: all 0.3s ease;
          }

          input:-webkit-autofill,
          input:-webkit-autofill:hover,
          input:-webkit-autofill:focus,
          input:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px $bg-color inset !important;
            -webkit-text-fill-color: $text-color !important;
            background-color: #737373;
            transition: all 0.3s ease;
          }

          ::-webkit-calendar-picker-indicator {
            filter: invert(1);
          }

          /* Chrome, Safari, Edge, Opera */
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          /* Firefox */
          input[type="number"] {
            appearance: textfield;
            -moz-appearance: textfield;
          }
        }
      }

      .submit_button_container {
        text-align: center;
        input[type="submit"] {
          width: 80%;
          background-color: $main-color;
          border: 2px solid $main-color;
          opacity: 0.8;
          font-size: 1.2rem;
          font-weight: 300;
          padding: 16px 20px;
          margin: 8px 0;
          cursor: pointer;
          transition: all 0.5s ease;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  .error_container_layout {
    margin: 0 auto;
    margin-block: 30px;
    padding: 10px;
    width: fit-content;
    background-color: $bg-color;
    border: 1px solid $main-color;
    text-align: center;
    margin-bottom: 50px;
    h3 {
      display: inline-block;
      text-align: center;
      font-weight: 600;
      margin-right: 15px;
      color: $main-color;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.memberships_panel_main {

  .lds-dual-ring {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 7px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 6px solid $text-color;
    border-color: $text-color transparent $text-color transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

}

.memberships_panel_main {
  padding: 10px;
  padding-bottom: 50px;
  text-align: center;
}

.memberships_panel {
  background-color: $bg-color;
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  border-radius: 7px;
}

.memberships_table_container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  border: 2px solid $main-color;
}

tbody tr:hover {
  cursor: pointer;
  background-color: $bg-3rd-color;
}

.active_column {
  transition: all 0.5s;
  cursor: pointer;
}

.active_column.active:hover {
  background-color: $main-secondary-color;
}

.help_container {
  margin-top: 10px;
  text-align: center;
}

.help_container p {
  font-size: 0.9rem;
  font-weight: 600;
  margin-block: 10px;
  color: $main-color;
}

.memberships_button_container {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 10px;
}

.memberships_button_container a {
  display: inline-block;
  font-size: 1.2rem;
  padding: 10px;
  color: $text-color;
  border: 2px solid $main-color;
  transition: all 0.3s;
  border-radius: 7px;
}

.memberships_button_container a:hover {
  color: $main-color;
  transform: translateY(5px);
}
