.my_profile_panel_main {

    .my_profile_container {

        background-color: $bg-secondary-color;
        padding: 40px;

        h1 {
            text-align: center;
            font-size: 2.5rem;
            font-weight: 600;
            color: $main-color;
            padding-bottom: 10px;
        }

        .my_profile_nav_container ul {
            display: flex;
            justify-content: center;
            width: 100%;

            a {
                display: inline-block;
                font-size: 2rem;
                font-weight: 400;
                padding: 5px 0;
                margin: 0px 30px;
                transition: all .5s ease;

                &:hover {

                    color: $main-secondary-color;
                    transform: translateY(5px);
                }
            }

            padding-bottom: 10px;
        }

        .my_profile_subpage_container {

            .personal_information_container_main {

                margin: 0 auto;
                width: 100%;

                h1 {
                    width: 100%;
                    font-size: 2rem;
                }

                .personal_information_container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;

                    .user_image {

                        width: 10%;
                        height: 10%;
                        border: 1px solid $main-color;
                        background-color: $main-color;
                        margin-bottom: 10px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .user_info {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: baseline;
                        flex-wrap: wrap;
                        text-align: left;
                        margin-bottom: 10px;

                        label {
                            display: inline;
                            padding-bottom: 5px;
                            font-size: 1.2rem;
                            color: $main-secondary-color;
                            opacity: 0.8;
                        }

                        p {
                            display: inline;
                            font-size: 1.2rem;
                            padding: 15px;
                            word-wrap: break-word;
                            word-break: break-word; 

                        }

                    }


                    h3 {
                        margin-block: 20px;
                        width: 100%;
                        font-size: 1.4rem;
                        color: $main-color;
                        text-align: center;
                    }
                }
            }

            .personal_payments_container_main {

                .personal_payments_container {
                    padding: 20px;
                    border-radius: 7px;
                    background-color: $bg-color;

                    .personal_payments_table_container {
                        .personal_payments_scroll {
                            overflow-x: auto;

                            table {
                                text-align: center;
                                border-collapse: collapse;
                                margin: 0 auto;
                                /* Center the table horizontally */
                            }

                            th,
                            td {
                                padding: 15px;
                                border: 2px solid $main-color;
                            }

                            tbody tr:hover {
                                background-color: $bg-3rd-color;
                                cursor: default;
                            }
                        }
                    }

                    .payment_button_container {
                        text-align: center;
                        margin-top: 30px;
                        margin-bottom: 20px;

                        a {
                            display: inline-block;
                            font-size: 1.2rem;
                            padding: 10px;
                            color: $text-color;
                            border: 2px solid $main-color;
                            transition: all 0.3s;
                            border-radius: 7px;

                            &:hover {
                                color: $main-color;
                                transform: translateY(5px);
                            }
                        }
                    }

                }

            }

            padding-bottom: 20px;

        }
    }
}

#link_to_plans {
    color: $main-color;
    padding-left: 20px;
    display: inline-block;
    transition: 0.3s;

    &:hover {
        color: $main-3rd-color;
        transform: translateY(1px);
    }
}


#pay_window_button {
    display: inline-block;
    font-size: 1.2rem;
    padding: 10px;
    color: $text-color;
    border: 2px solid $main-color;
    transition: all 0.3s;
    border-radius: 7px;

    &:hover {
        color: $main-color;
        transform: translateY(5px);
    }
}

.finish_payment_subpage {

    padding-top: 30px;

    .finish_payment_main {

        .payment_info {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;

            .payment_info_item {

                label {
                    display: inline;
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: $main-color;
                    margin-right: 10px;
                }

                h4 {
                    display: inline;
                    font-size: 1.2rem;
                }

                margin-bottom: 20px;

            }

        }

        .payment_confirmation_section {
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2.5em;


            .payment_confirmation_item {

                label {
                    color: $main-color;
                    font-size: 1.2rem;
                    font-weight: 300;
                    padding: 5px;
                }

                input[type=text],
                input[type=password],
                input[type=tel],
                input[type=date],
                input[type=number],
                select {
                    width: 100%;
                    padding: 15px;
                    margin: 5px 0 22px 0;
                    display: inline-block;
                    border: none;
                    background: $bg-color;
                    font-size: 1.2rem;
                    font-weight: 300;
                    transition: all .3s ease;
                }

                input[type=text]:focus,
                input[type=password]:focus,
                input[type=tel]:focus,
                input[type=date]:focus,
                input[type=number]:focus,
                select:focus {

                    background-color: #737373;
                    outline: none;
                    color-scheme: dark;
                    transition: all .3s ease;
                }

                input:-webkit-autofill,
                input:-webkit-autofill:hover,
                input:-webkit-autofill:focus,
                input:-webkit-autofill:active {
                    -webkit-box-shadow: 0 0 0 30px $bg-color inset !important;
                    -webkit-text-fill-color: $text-color !important;
                    background-color: #737373;
                    transition: all .3s ease;

                }


                ::-webkit-calendar-picker-indicator {
                    filter: invert(1);
                }

                /* Chrome, Safari, Edge, Opera */
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                /* Firefox */
                input[type=number] {
                    appearance: textfield;
                    -moz-appearance: textfield;
                }


            }
        }

        form {
            input[type='submit'] {
                display: inline-block;
                font-size: 1.2rem;
                padding: 10px;
                color: $text-color;
                border: 2px solid $main-color;
                transition: all 0.3s;
                border-radius: 7px;


                &:hover {
                    color: $main-color;
                    transform: translateY(5px);
                    cursor: pointer;
                }
            }
        }

    }
}

@media screen and (max-width: 700px) {

    .payment_confirmation_section {
        grid-template-columns: repeat(1, 1fr) !important;
    }

}