@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Sans:wght@600&family=Open+Sans&family=Poppins&display=swap');
$bg-color: #222327;
$bg-color-transparent: rgba(34, 35, 39, 0.7);
$bg-secondary-color: #121315;
$bg-3rd-color: rgb(45, 47, 51);
$text-color: #fff;
$text-secondary-color: #222327;
$main-color: #92b91f;
$main-secondary-color: rgb(161, 202, 37);
$main-3rd-color: rgb(120, 151, 26);


//$main-color: #4fff38;
//$main-color: #8c38ff;
$font: 'Poppings', sans-serif;

@mixin typing_anim_conf(){
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
}

@mixin invisible(){
    opacity: 0;
    width: 100%;
}